In [16]:
import pandas as pd 
import numpy as np


#importing dataset
def import_phishing_email_dataset(file_path):
    # Load the dataset into a Pandas DataFrame
    df = pd.read_csv(file_path)
    
    return df

file_path = 'Email.csv'
df = import_phishing_email_dataset(file_path)

In [25]:
import warnings
warnings.filterwarnings('ignore')

In [17]:
df.head(2)

,sender,receiver,date,subject,body,label,urls
0,"""Hu, Sylvia"" <Sylvia.Hu@ENRON.com>","""Acevedo, Felecia"" <Felecia.Acevedo@ENRON.com>...","Fri, 29 Jun 2001 08:36:09 -0500","FW: June 29 -- BNA, Inc. Daily Labor Report",User ID: enrondlr PW: bnaweb22 -----O...,0,1
1,"""Webb, Jay"" <Jay.Webb@ENRON.com>","""Lambie, Chris"" <Chris.Lambie@ENRON.com>","Fri, 29 Jun 2001 09:37:04 -0500",NGX failover plan.,"\nHi Chris, \n\nTonight we are rolling out a ...",0,0

In [18]:
# Checking for missing values

def missing_values(df):
    missing_values = df.isnull().sum()
    print("Missing Values:\n", missing_values)
    
missing_values = missing_values(df)
missing_values

Missing Values:
 sender       0
receiver     7
date         0
subject     43
body         0
label        0
urls         0
dtype: int64

In [19]:
#dropping missing values 

def drop_missing(df):
    df_cleaned = df.dropna()
    return df_cleaned

df = drop_missing(df)
df.head(5)

,sender,receiver,date,subject,body,label,urls
0,"""Hu, Sylvia"" <Sylvia.Hu@ENRON.com>","""Acevedo, Felecia"" <Felecia.Acevedo@ENRON.com>...","Fri, 29 Jun 2001 08:36:09 -0500","FW: June 29 -- BNA, Inc. Daily Labor Report",User ID: enrondlr PW: bnaweb22 -----O...,0,1
1,"""Webb, Jay"" <Jay.Webb@ENRON.com>","""Lambie, Chris"" <Chris.Lambie@ENRON.com>","Fri, 29 Jun 2001 09:37:04 -0500",NGX failover plan.,"\nHi Chris, \n\nTonight we are rolling out a ...",0,0
2,"""Symms, Mark"" <Mark.Symms@ENRON.com>","""Thomas, Paul D."" <Paul.D.Thomas@ENRON.com>","Fri, 29 Jun 2001 08:39:30 -0500",RE: Intranet Site,Rika r these new?\n\n -----Original Message---...,0,1
3,"""Thorne, Judy"" <Judy.Thorne@ENRON.com>","""Grass, John"" <John.Grass@ENRON.com>, ""Nemec, ...","Fri, 29 Jun 2001 10:35:17 -0500",FW: ENA Upstream Company information,"John/Gerald, We are currently trading under GT...",0,0
4,"""Williams, Jason R (Credit)"" <Jason.R.Williams...","""Nemec, Gerald"" <Gerald.Nemec@ENRON.com>, ""Dic...","Fri, 29 Jun 2001 10:40:02 -0500",New Master Physical,Gerald and Stacy -\n\nAttached is a worksheet ...,0,0

In [20]:
# Check and remove duplicates

def duplicates(df):
    duplicate_rows = df[df.duplicated()]
    print("Duplicate Rows:\n", duplicate_rows)
    df_no_duplicates = df.drop_duplicates()
    return df_no_duplicates

df = duplicates(df)
df.head(5)

Duplicate Rows:
 Empty DataFrame
Columns: [sender, receiver, date, subject, body, label, urls]
Index: []

,sender,receiver,date,subject,body,label,urls
0,"""Hu, Sylvia"" <Sylvia.Hu@ENRON.com>","""Acevedo, Felecia"" <Felecia.Acevedo@ENRON.com>...","Fri, 29 Jun 2001 08:36:09 -0500","FW: June 29 -- BNA, Inc. Daily Labor Report",User ID: enrondlr PW: bnaweb22 -----O...,0,1
1,"""Webb, Jay"" <Jay.Webb@ENRON.com>","""Lambie, Chris"" <Chris.Lambie@ENRON.com>","Fri, 29 Jun 2001 09:37:04 -0500",NGX failover plan.,"\nHi Chris, \n\nTonight we are rolling out a ...",0,0
2,"""Symms, Mark"" <Mark.Symms@ENRON.com>","""Thomas, Paul D."" <Paul.D.Thomas@ENRON.com>","Fri, 29 Jun 2001 08:39:30 -0500",RE: Intranet Site,Rika r these new?\n\n -----Original Message---...,0,1
3,"""Thorne, Judy"" <Judy.Thorne@ENRON.com>","""Grass, John"" <John.Grass@ENRON.com>, ""Nemec, ...","Fri, 29 Jun 2001 10:35:17 -0500",FW: ENA Upstream Company information,"John/Gerald, We are currently trading under GT...",0,0
4,"""Williams, Jason R (Credit)"" <Jason.R.Williams...","""Nemec, Gerald"" <Gerald.Nemec@ENRON.com>, ""Dic...","Fri, 29 Jun 2001 10:40:02 -0500",New Master Physical,Gerald and Stacy -\n\nAttached is a worksheet ...,0,0

In [26]:
#Remove Unnecessary Characters and Whitespaces

def character(df):
    df['body'] = df['body'].str.replace('[^a-zA-Z\s]', '').str.strip()
    df['sender'] = df['sender'].str.replace('[^a-zA-Z\s]', '').str.strip()
    df['receiver'] = df['receiver'].str.replace('[^a-zA-Z\s]', '').str.strip()
    df['subject'] = df['subject'].str.replace('[^a-zA-Z\s]', '').str.strip()
    return df
df = character(df)
df.head(5)

,sender,receiver,date,subject,body,label,urls
0,Hu Sylvia SylviaHuENRONcom,Acevedo Felecia FeleciaAcevedoENRONcom Brown M...,"Fri, 29 Jun 2001 08:36:09 -0500",FW June BNA Inc Daily Labor Report,User ID enrondlr PW bnaweb Original M...,0,1
1,Webb Jay JayWebbENRONcom,Lambie Chris ChrisLambieENRONcom,"Fri, 29 Jun 2001 09:37:04 -0500",NGX failover plan,Hi Chris \n\nTonight we are rolling out a new...,0,0
2,Symms Mark MarkSymmsENRONcom,Thomas Paul D PaulDThomasENRONcom,"Fri, 29 Jun 2001 08:39:30 -0500",RE Intranet Site,Rika r these new\n\n Original Message\nFrom \t...,0,1
3,Thorne Judy JudyThorneENRONcom,Grass John JohnGrassENRONcom Nemec Gerald Gera...,"Fri, 29 Jun 2001 10:35:17 -0500",FW ENA Upstream Company information,JohnGerald We are currently trading under GTC ...,0,0
4,Williams Jason R Credit JasonRWilliamsENRONcom,Nemec Gerald GeraldNemecENRONcom Dickson Stacy...,"Fri, 29 Jun 2001 10:40:02 -0500",New Master Physical,Gerald and Stacy \n\nAttached is a worksheet f...,0,0

In [28]:
#Lowercasing

def lowercase(df):
    df['body'] = df['body'].str.lower()
    df['sender'] = df['sender'].str.lower()
    df['receiver'] = df['receiver'].str.lower()
    df['subject'] = df['subject'].str.lower()
    return df

df = lowercase(df)
df.head(5)

,sender,receiver,date,subject,body,label,urls
0,hu sylvia sylviahuenroncom,acevedo felecia feleciaacevedoenroncom brown m...,"Fri, 29 Jun 2001 08:36:09 -0500",fw june bna inc daily labor report,user id enrondlr pw bnaweb original m...,0,1
1,webb jay jaywebbenroncom,lambie chris chrislambieenroncom,"Fri, 29 Jun 2001 09:37:04 -0500",ngx failover plan,hi chris \n\ntonight we are rolling out a new...,0,0
2,symms mark marksymmsenroncom,thomas paul d pauldthomasenroncom,"Fri, 29 Jun 2001 08:39:30 -0500",re intranet site,rika r these new\n\n original message\nfrom \t...,0,1
3,thorne judy judythorneenroncom,grass john johngrassenroncom nemec gerald gera...,"Fri, 29 Jun 2001 10:35:17 -0500",fw ena upstream company information,johngerald we are currently trading under gtc ...,0,0
4,williams jason r credit jasonrwilliamsenroncom,nemec gerald geraldnemecenroncom dickson stacy...,"Fri, 29 Jun 2001 10:40:02 -0500",new master physical,gerald and stacy \n\nattached is a worksheet f...,0,0

In [31]:
#Remove stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords


def remove_stopwords(df):
    stop_words = set(stopwords.words('english'))
    df['body'] = df['body'].apply(lambda x: ' '.join([word for word in x.split() 
                                                      if word.lower() not in stop_words]))
    df['sender'] = df['sender'].apply(lambda x: ' '.join([word for word in x.split() 
                                                          if word.lower() not in stop_words]))
    df['receiver'] = df['receiver'].apply(lambda x: ' '.join([word for word in x.split() 
                                                              if word.lower() not in stop_words]))
    df['subject'] = df['subject'].apply(lambda x: ' '.join([word for word in x.split() 
                                                            if word.lower() not in stop_words]))
    return df

df = remove_stopwords(df)
df.head(5)

[nltk_data] Downloading package stopwords to /Users/temi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,sender,receiver,date,subject,body,label,urls
0,hu sylvia sylviahuenroncom,acevedo felecia feleciaacevedoenroncom brown m...,"Fri, 29 Jun 2001 08:36:09 -0500",fw june bna inc daily labor report,user id enrondlr pw bnaweb original message bn...,0,1
1,webb jay jaywebbenroncom,lambie chris chrislambieenroncom,"Fri, 29 Jun 2001 09:37:04 -0500",ngx failover plan,hi chris tonight rolling new report currently ...,0,0
2,symms mark marksymmsenroncom,thomas paul pauldthomasenroncom,"Fri, 29 Jun 2001 08:39:30 -0500",intranet site,rika r new original message thomas paul sent f...,0,1
3,thorne judy judythorneenroncom,grass john johngrassenroncom nemec gerald gera...,"Fri, 29 Jun 2001 10:35:17 -0500",fw ena upstream company information,johngerald currently trading gtc spot contract...,0,0
4,williams jason r credit jasonrwilliamsenroncom,nemec gerald geraldnemecenroncom dickson stacy...,"Fri, 29 Jun 2001 10:40:02 -0500",new master physical,gerald stacy attached worksheet new master phy...,0,0

In [34]:
#Lemmatization
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer


def lemmatization(df):
    lemmatizer = WordNetLemmatizer()
    df['body'] = df['body'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in x.split()]))
    df['sender'] = df['sender'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in x.split()]))
    df['receiver'] = df['receiver'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in x.split()]))
    df['subject'] = df['subject'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in x.split()]))
    return df

df = lemmatization(df)
df.head(5)

[nltk_data] Downloading package wordnet to /Users/temi/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/temi/nltk_data...

,sender,receiver,date,subject,body,label,urls
0,hu sylvia sylviahuenroncom,acevedo felecia feleciaacevedoenroncom brown m...,"Fri, 29 Jun 2001 08:36:09 -0500",fw june bna inc daily labor report,user id enrondlr pw bnaweb original message bn...,0,1
1,webb jay jaywebbenroncom,lambie chris chrislambieenroncom,"Fri, 29 Jun 2001 09:37:04 -0500",ngx failover plan,hi chris tonight rolling new report currently ...,0,0
2,symms mark marksymmsenroncom,thomas paul pauldthomasenroncom,"Fri, 29 Jun 2001 08:39:30 -0500",intranet site,rika r new original message thomas paul sent f...,0,1
3,thorne judy judythorneenroncom,grass john johngrassenroncom nemec gerald gera...,"Fri, 29 Jun 2001 10:35:17 -0500",fw ena upstream company information,johngerald currently trading gtc spot contract...,0,0
4,williams jason r credit jasonrwilliamsenroncom,nemec gerald geraldnemecenroncom dickson stacy...,"Fri, 29 Jun 2001 10:40:02 -0500",new master physical,gerald stacy attached worksheet new master phy...,0,0

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Combine 'subject' and 'body' columns into a single text column
df['text'] = df['subject'] + ' ' + df['body']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df['text'], df['label'], test_size=0.2, random_state=42)

# Convert text data to numerical features using CountVectorizer
vectorizer = CountVectorizer()
X_train_final = vectorizer.fit_transform(X_train)
X_test_final = vectorizer.transform(X_test)

# Building the Random Forest model
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train_final, y_train)

# Predictions
y_pred = rf_model.predict(X_test_final)

# Model Evaluation
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print("Model Accuracy:", accuracy)
print("Classification Report:\n", classification_rep)

Model Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       143

    accuracy                           1.00       143
   macro avg       1.00      1.00      1.00       143
weighted avg       1.00      1.00      1.00       143

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

def model(df):
    df['text'] = df['subject'] + ' ' + df['body']

    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(df['text'], df['label'], test_size=0.2, random_state=42)

    # Convert text data to numerical features using CountVectorizer
    vectorizer = CountVectorizer()
    X_train_final = vectorizer.fit_transform(X_train)
    X_test_final = vectorizer.transform(X_test)

    # Building the Random Forest model
    rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
    rf_model.fit(X_train_final, y_train)

    # Predictions
    y_pred = rf_model.predict(X_test_final)

    # Model Evaluation
    accuracy = accuracy_score(y_test, y_pred)
    classification_rep = classification_report(y_test, y_pred)

    # Convert accuracy to percentage
    accuracy_percentage = accuracy * 100

    print("Model Accuracy:", accuracy_percentage, "%")
    print("Classification Report:\n", classification_rep)
    
model_df = model(df)
model_df

Model Accuracy: 100.0 %
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       143

    accuracy                           1.00       143
   macro avg       1.00      1.00      1.00       143
weighted avg       1.00      1.00      1.00       143